body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D8D4F2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 42px;
    text-align: center;
    color: white;
    background-color: #393E41;
    width: 100%;
    margin-top: 0;
    padding: 20px 25px;
}

.container {
    display: flex;
    margin: 0 auto;
    height: 500px;
    width: 500px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.individual {
    display: block;
    border: 1px solid rgb(55, 53, 53);
    
}

input {
    padding: 5px 10px;
    height: 35px;
    width: 65px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ffac53;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

button {
    font-weight: bold;
    padding: 10px 15px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ffac53;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    margin: 0px 10px 0px 10px;
    margin-bottom: 25px;
    
}

button:hover, input:hover {
    background-color: #ffa03a;
}

button:active, input:active {
    background-color: #f19e44;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
